<h1>Products#index</h1>

<% @products.each do |product| %>
		<h2>Product title <?= @product.title ?></h2>
		<h2>Product description <?= @product.description ?></h2>
		<h2>Product price <?= @product.price ?></h2>>
<% end %>