<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<h2>Product title <%= @product.title %></h2>
<h2>Product description <%= @product.description %></h2>
<h2>Product price <%= @product.price %></h2>
